.container {
    border: 4px solid orange;
    background-color: peachpuff;
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.gap-container {
    border: 4px solid purple;
    display: flex; 
    height: 100px;
    background-color: violet;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

html,body {
    background-color: peachpuff;
    box-sizing: border-box;
    height: 100%;
}

body {
    margin: 0;
}

.item {
    height: 40px;
    background-color: lightblue;
    border: 4px solid darkblue;
    flex: 1; 
}

.container > div {
    color: peachpuff;
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    text-align: center;
}

.home {
    background-color: lightblue;
    align-self: flex-start;
}

.search {
    background-color: lightgoldenrodyellow;
    align-self: center;
    justify-content: center;
}

.logout {
    background-color: lightsalmon;
    align-self: flex-end;
}